:root {
    --background-color: #f9f9fb;
    --text-color: #2c2c2c;
    --primary-color: #4a90e2;
    --primary-dark-color: #003366;
    --secondary-color: #013f01;
    --accent-color: #f39c12;
    --border-color: #e1e4e8;
    --hover-background-color: #eaeff3;
    --hover-text-color: #1f1f1f;
    --link-color: #2980b9;
    --link-hover-color: #1c598a;
    --card-color: #ffffff;
    --card-hover-color: #f4f4f8;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

:root.dark {
    --background-color: #1e1e2f;
    --text-color: #c7c7d5;
    --primary-color: #17376b;
    --primary-dark-color: #04142b;
    --secondary-color: #005707;
    --accent-color: #ffa726;
    --border-color: #39414e;
    --hover-background-color: #2a2a3b;
    --hover-text-color: #f5f5f5;    
    --link-color: #82b1ff;
    --link-hover-color: #5a86c1;
    --card-color: #2c2c3e;
    --card-hover-color: #39394f;
    --shadow-color: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: var(--link-color);
    transition: color 0.3s;
}
a:hover {
    color: var(--link-hover-color);
}

button, .button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button{
    background-color: var(--secondary-color);
}

button:hover, .button:hover {
    background-color: var(--primary-dark-color);
    color: var(--hover-text-color);
}

.card {
    background-color: var(--card-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    height: 200px;
    padding: 20px;
    box-shadow: 0 4px 6px var(--shadow-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
  }
  

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

  ::-webkit-scrollbar{
    width: 0px;
  }