/* global.css */
:root {
    --background-color: #f0f0f0;
    --text-color: #333333;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --accent-color: #17a2b8;
    --border-color: #dddddd;
    --hover-background-color: #001020;
    --hover-text-color: #000000;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --card-color: #e6e6e6;
    --card-hover-color: #dddddd;
    --shadow-color: #c0c0c0;
}

:root.dark {
    --background-color: #202020;
    --text-color: #e0e0e0;
    --primary-color: #1e90ff;
    --secondary-color: #adb5bd;
    --accent-color: #20c997;
    --border-color: #444444;
    --hover-background-color: #040f33;
    --hover-text-color: #ffffff;
    --link-color: #1e90ff;
    --link-hover-color: #0b5394;
    --card-color: #181818;
    --card-hover-color: #000000;
    --shadow-color: #575757;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: var(--link-color);
    transition: color 0.3s;
}
a:hover {
    color: var(--link-hover-color);
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
button:hover {
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
}

.card {
    background-color: var(--card-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    height: 200px;
    padding: 20px;
    box-shadow: 0 4px 6px var(--shadow-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    background-color: var(--card-hover-color);
    color: var(--hover-text-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }


  ::-webkit-scrollbar{
    width: 0px;
  }